block vars

doctype html
html(lang="nl")
	head
		title #{$title} | PROJECT
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,700")
		link(rel="stylesheet" href="css/style.css")

	body
		.main-content
			block content

		script(src="js/all.min.js")