@font-face
	font-family "icons"
	src url('../fonts/icons.eot')
	src url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype')
	font-weight normal
	font-style normal

.icon:before
	font-family icons
	font-weight normal
	font-style normal
	display inline-block
	-webkit-font-smoothing antialiased
