// FUNCTIONS
// ----------------------------------------------------

black(opacity)
	rgba(0,0,0,opacity)

white(opacity)
	rgba(255,255,255,opacity)

em(px, context = 18)
	round((px / context) * 1em, 5)

rem(px, context = 18)
	round((px / context) * 1rem, 5)


// HELPERS
// ----------------------------------------------------

ellips()
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

icon()
	font-family icons
	font-weight normal
	font-style normal
	-webkit-font-smoothing antialiased

placeholder()
	&::-webkit-input-placeholder
		color arguments
	&:-moz-placeholder
		color arguments
	&::-moz-placeholder
		color arguments
	&:-ms-input-placeholder
		color arguments


// PROPERTY MIXINS
// ----------------------------------------------------

/* shorthand position property */
position(type, args...)
	position type

	if length(args) > 0
		top args[0]

		if length(args) > 1
			right args[1]
		else
			right args[0]

		if length(args) > 2
			bottom args[2]
		else
			bottom args[0]

		if length(args) > 3
			left args[3]
		else if length(args) > 1
			left args[1]
		else
			left args[0]


box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

appearance()
	-webkit-appearance arguments
	appearance arguments

display(value)
	if value is 'flexbox'
		display -webkit-flex //- OLD WebKit
		display -ms-flexbox //- IE 10
		display flex
	else
		display value

flex()
	-webkit-flex arguments
	-ms-flex arguments
	flex arguments

flex-basis()
	-webkit-flex-basis arguments
	-ms-flex-preferred-size arguments
	flex-basis arguments

flex-grow()
	-webkit-flex-grow arguments
	-ms-flex-positive arguments
	flex-grow arguments

flex-shrink()
	-webkit-flex-shrink arguments
	-ms-flex-negative arguments
	flex-shrink arguments

flex-wrap()
	-webkit-flex-wrap arguments
	-ms-flex-wrap arguments
	flex-wrap arguments

flex-direction()
	-webkit-flex-direction arguments
	-ms-flex-direction arguments
	flex-direction arguments

order()
	-webkit-order arguments
	-ms-flex-order arguments
	order arguments

justify-content()
	-webkit-justify-content arguments
	-ms-flex-pack arguments
	justify-content arguments

align-items()
	-webkit-align-items arguments
	-ms-flex-align arguments
	align-items arguments

align-self()
	-webkit-align-self arguments
	-ms-flex-item-align arguments
	align-self arguments


user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

transform()
	-webkit-transform arguments
	transform arguments

transition()
	-webkit-transition arguments
	transition arguments

transform-animation()
	-webkit-transform arguments
	transform arguments

transform-origin()
	-webkit-transform-origin arguments
	transform-origin arguments

transform-style()
	-webkit-transform-style arguments
	transform-style arguments

animation()
	-webkit-animation arguments
	animation arguments

background-clip()
	-webkit-background-clip arguments
	background-clip arguments

gradient(startColor, endColor, direction = top)
	background startColor
	background -webkit-linear-gradient(direction, startColor, endColor)
	background linear-gradient(to opposite-position(direction), startColor, endColor)

columns()
	-webkit-columns arguments
	-moz-columns arguments
	columns arguments

column-count()
	-webkit-column-count arguments
	-moz-column-count arguments
	column-count arguments

column-gap()
	-webkit-column-gap arguments
	-moz-column-gap arguments
	column-gap arguments

break-inside()
	-webkit-column-break-inside arguments
	page-break-inside arguments
	break-inside arguments

break-word()
	word-wrap break-word
	overflow-wrap break-word
	word-break break-word

hyphens()
	-webkit-hyphens arguments
	-moz-hyphens arguments
	hyphens arguments

cssfilter()
	-webkit-filter arguments
	filter arguments

backdrop-filter()
	-webkit-backdrop-filter arguments
	backdrop-filter arguments
