// JUMPSTART
// Browser support: Chrome, Firefox, Safari, Edge, iOS Safari, Android Chrome, IE11+, Android 4.4+

// CONFIG
// ----------------------------------------------------

$clr-text = #000
$clr-primary = #0f0
$clr-secondary = #f00
$clr-link = $clr-primary


/* BREAKPOINTS */
mobile-small = "(max-width: 359px)"
mobile = "(max-width: 479px)"
mobile-landscape = "(max-width: 599px)"
tablet-mini = "(max-width: 767px)"
tablet-portrait = "(max-width: 1023px)"
tablet = "(max-width: 1299px)"
large = "(min-width: 1500px)"


/* IMPORTS */
@import "_core"
@import "_mixins"
@import "_icons"


// BASICS
// ----------------------------------------------------

body
html
	font 16px/1 sans-serif
	-ms-overflow-style -ms-autohiding-scrollbar
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	color $clr-text

p
	line-height 1.4

a
	text-decoration none
	color $clr-link
