<!DOCTYPE html>
<html>
  <head>
    <title>icons glyphs preview</title>

    <style>
      /* Page Styles */

      * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        background: #fff;
        color: #444;
        font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      a,
      a:visited {
        color: #888;
        text-decoration: underline;
      }
      a:hover,
      a:focus { color: #000; }

      header {
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 20px 0;
      }

      header h1 {
        color: #888;
        float: left;
        font-size: 36px;
        font-weight: 300;
      }

      header a {
        float: right;
        font-size: 14px;
      }

      .container {
        margin: 0 auto;
        max-width: 1200px;
        min-width: 960px;
        padding: 0 40px;
        width: 90%;
      }

      .glyph {
        border-bottom: 1px dotted #ccc;
        padding: 10px 0 20px;
        margin-bottom: 20px;
      }

      .preview-glyphs { vertical-align: bottom; }

      .preview-scale {
        color: #888;
        font-size: 12px;
        margin-top: 5px;
      }

      .step {
        display: inline-block;
        line-height: 1;
        position: relative;
        width: 10%;
      }

      .step .letters,
      .step i {
        -webkit-transition: opacity .3s;
        -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
      }

      .step:hover .letters { opacity: 1; }
      .step:hover i { opacity: .3; }

      .letters {
        opacity: .3;
        position: absolute;
      }

      .characters-off .letters { display: none; }
      .characters-off .step:hover i { opacity: 1; }


      .size-12 { font-size: 12px; }

      .size-14 { font-size: 14px; }

      .size-16 { font-size: 16px; }

      .size-18 { font-size: 18px; }

      .size-21 { font-size: 21px; }

      .size-24 { font-size: 24px; }

      .size-36 { font-size: 36px; }

      .size-48 { font-size: 48px; }

      .size-60 { font-size: 60px; }

      .size-72 { font-size: 72px; }


      .usage { margin-top: 10px; }

      .usage input {
        font-family: monospace;
        margin-right: 3px;
        padding: 2px 5px;
        text-align: center;
      }

      .usage .point { width: 150px; }

      .usage .class { width: 250px; }

      footer {
        color: #888;
        font-size: 12px;
        padding: 20px 0;
      }



      /* Icon Font: icons */

      @font-face {
  font-family: "<%= fontName %>";
  src: url("<%= fontPath %><%= fontName %>.eot");
  src: url("<%= fontPath %><%= fontName %>.eot?#iefix") format("embedded-opentype"),
       url("<%= fontPath %><%= fontName %>.woff") format("woff"),
       url("<%= fontPath %><%= fontName %>.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "<%= fontName %>";
  line-height: 1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  }

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
<% }); %>

    </style>

    <script>
      function toggleCharacters() {
        var body = document.getElementsByTagName('body')[0];
        body.className = body.className === 'characters-off' ? '' : 'characters-off';
      }
    </script>
  </head>

  <body class="characters-off">
    <div id="page" class="container">
      <header>
        <h1>icons glyphs:</h1>
        <a onclick="toggleCharacters(); return false;" href="#">Toggle Preview Characters</a>
      </header>

      <% _.each(glyphs, function(glyph) { %>
      <div class="glyph">
        <div class="preview-glyphs">
          <span class="step size-12"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-14"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-16"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-18"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-21"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-24"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-36"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-48"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-60"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span><span class="step size-72"><span class="letters">Pp</span><i id="<%= className %>-<%= glyph.name %>" class="icon <%= className %>-<%= glyph.name %>"></i></span>
        </div>
        <div class="preview-scale">
          <span class="step">12</span><span class="step">14</span><span class="step">16</span><span class="step">18</span><span class="step">21</span><span class="step">24</span><span class="step">36</span><span class="step">48</span><span class="step">60</span><span class="step">72</span>
        </div>
        <div class="usage">
          <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".<%= className %>-<%= glyph.name %>" />
          <input class="point" type="text" readonly="readonly" onClick="this.select();" value="<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" />
        </div>
      </div>
      <% }); %>

    </div>
  </body>
</html>